.container {
  width: 490px;
  height: 960px;
  position: relative;
  pointer-events: all;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    .people {
      width: 440px;
      margin-top: 40px;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      user-select: none;
    }
    .giftBox {
      width: 38%;
      height: 34%;
      position: absolute;
      top: 500px;
      left: 218px;
      cursor: pointer;

      .coin {
        opacity: 0;
        position: absolute;
        width: 38%;
        height: 38%;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
        top: 0;
        left: 0;
      }
      .gift {
        width: 100%;
        height: 100%;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-select: none;
      }
    }
  }
}

@media screen and (min-width: 1800px) and (max-width: 2300px) {
  .container {
    width: 440px;
    height: 800px;
    .content {
      .people {
        width: 380px;
      }
      .giftBox {
        width: 38%;
        height: 34%;
        top: 438px;
        left: 188px;
        .coin {
          width: 40%;
          height: 40%;
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
  .container {
    width: 400px;
    height: 700px;
    .content {
      .people {
        width: 320px;
      }
      .giftBox {
        width: 34%;
        height: 30%;
        top: 374px;
        left: 164px;
        .coin {
          width: 35%;
          height: 35%;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 340px;
    height: 620px;
    .content {
      .people {
        width: 270px;
      }
      .giftBox {
        width: 32%;
        height: 28%;
        top: 322px;
        left: 140px;
        .coin {
          width: 30%;
          height: 30%;
        }
      }
    }
  }
}
