.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      color: red;
    }
    input {
      width: 400px;
      height: 26px;
      margin-bottom: 20px;
      pointer-events: all;
      margin-top: 10px;
      padding: 0 6px;
    }
    img {
      width: 500px;
      height: 250px;
    }
    .myBox {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }

  .peopleAnimation {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin-right: 4%;
  }

  @media screen and (min-width: 1800px) and (max-width: 2300px) {
    .peopleAnimation {
      margin-right: 4%;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1800px) {
    .peopleAnimation {
      margin-right: 6%;
    }
  }
  @media screen and (max-width: 1200px) {
    .peopleAnimation {
      margin-right: 8%;
    }
  }
}
