.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .text {
    color: red;
  }
  input {
    width: 400px;
    margin-bottom: 20px;
  }
  img {
    width: 500px;
    height: 250px;
  }
}
